<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>JTEE</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Hessian配置 -->
	<servlet>
		<!-- 配置 HessianServlet -->
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<!-- 配置接口的具体实现类 -->
		<init-param>
			<param-name>service-class</param-name>
			<param-value>com.loner.rpc.hession.UserServiceImpl</param-value>
		</init-param>
	</servlet>
	<!-- 映射 HessianServlet的访问URL地址 -->
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/userServlet</url-pattern>
	</servlet-mapping>

</web-app>